<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <i class="fas fa-feather-alt fa-6x"></i>
    <h1 class="display-3">Diary We Write</h1>
    <p class="lead">A diary which we co-author by posting one sentence a day with each other.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-lgreen btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
